
h1{color: red;}
#sub{color: green;} 
.parrafo{color: blue;}


span p:first-child{
color :red;  }

span p:last-child{
color: blue;
}
span p:nth-child(4){
    color:rgb(236, 26, 219);
}
.pink:hover{
    color:rgb(236, 26, 219);
}
#box{
    width: 800px;
    background: cyan;
}

.inline, .block{

    color: white;  /* color letra*/
    margin:  10px;
    padding: 10px;
    background: purple;
    border: 3px solid green;

}

.block{
    background: red;
}