 /*Clase para el contenedor global*/
 .container{
    width: 800px;
    margin: auto; /*forza a centrado horizontal en la ventana*/
   }
    /*Observa que usamos medidas dinámicas*/
    section{ 
        background: #F9F5C9;
        margin: 1% 0;
        padding: 1% 0;
    }
    
    /*Clase usamos para interrupir la flotación*/
    .clear{ clear: both;}

    .col2{
        background: palevioletred;
        width: 50%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left:0 ;
        margin-right:0 ;
        float: left;
        padding: 1%;
        box-sizing: border-box; /*Indica que no tome el paddin de forma aditiva y
         que solo conserve el ancho de la columna*/
    }

    .col3{
        background: palevioletred;
        width: 33.3%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left:0 ;
        margin-right:0 ;
        float: left;
        padding: 1%;
        box-sizing: border-box; /*Indica que no tome el paddin de forma aditiva y
         que solo conserve el ancho de la columna*/
    }

    .col5{
        background: palevioletred;
        width: 20%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left:0 ;
        margin-right:0 ;
        float: left;
        padding: 1%;
        box-sizing: border-box; /*Indica que no tome el paddin de forma aditiva y
         que solo conserve el ancho de la columna*/
    }
   